// Flexbox
@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

// Neumorphism
@mixin neu($radius, $color, $color2, $size) {
  border-radius: $radius;
  background-color: $color;
  box-shadow: $size $size ($size * 2) $color,
    (-$size) (-$size) ($size * 2) $color2;
}
